includes:
    - vendor/rollerscapes/standards/phpstan.neon
    - phpstan-baseline.neon

parameters:
    #reportUnmatchedIgnoredErrors: false

    paths:
        - ./src
        - ./tests
    excludePaths:
        - var/
        - templates/
        - translations/

    ignoreErrors:
        - '#Attribute class Symfony\\Contracts\\Service\\Attribute\\Required does not exist#' # Not required
